.attribution {
    font-size: 11px;
    text-align: center;
    padding-block: 20px 10px;
    background-color: var(--color-white);
}

.attribution a {
    color: var(--color-blue);
}

.attribution a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    .attribution {
        background: none;
    }
}