.notifications {
    background-color: var(--color-white);
    max-width: 600px;
    margin-inline: auto;
    padding: 30px;
}

@media screen and (max-width: 375px) {
    .notifications {
        padding: 20px;
    }
}

@media screen and (min-width: 600px) {
    .notifications {
        box-shadow: 0 0 10px var(--color-shadow);
        border-radius: var(--radius-default);
        margin-top: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .notifications {
        max-width: 780px;
    }
}